#An excellent guide on installing and using the google earth engine python api can be found here: https://developers.google.com/earth-engine/guides/python_install

asn1crypto==1.3.0
cachetools==3.1.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
earthengine-api==0.1.217
future==0.18.2
google-api-core==1.15.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
google-cloud-core==1.1.0
google-cloud-storage==1.20.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
httplib2==0.15.0
httplib2shim==0.0.3
idna==2.9
protobuf==3.11.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2019.3
requests==2.23.0
rsa==4.0
simplejson==3.17.0
six==1.14.0
uritemplate==3.0.1
urllib3==1.25.8
win-inet-pton==1.1.0
wincertstore==0.2
